@media (min-width: 640px) {
    .container {
        max-width: 40rem;
    }
    .header-block {
        padding: 1rem 0;
    }
    .logo img {
        max-width: 6.25rem;
    }
    .hero {
        background: url('/img/hero.jpg') center right no-repeat;
        background-size: cover;
    }
    .hero-caption-block::before {
        background: url(/img/gradient.png) left center no-repeat;
        background-size: 100%;
        transform: translate(0, 0);
    }
    .hero-caption-block {
        padding: 8.875rem 0;
    }
    .hero-caption-block {
        position: relative;
        text-align: left;
    }
    .steps-block {
        flex-direction: row;
        margin: 0 auto;
        gap: 5.625rem;
    }
    .section-title h2 {
        font-size: 3.375rem;
    }
    .form br {
        display: inline;
    }
    .list {
        padding-bottom: 32.5rem;
    }
    .footer-block {
        margin: 6.25rem 0 3.125rem;
        flex-direction: row;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 48rem;
    }
}
@media (min-width: 1024px) {
    .container {
        max-width: 64rem;
    }
    
    .hero-caption-block::before {
        transform: translate(-27.5rem, 0);
    }
    .faq-block {
        flex-direction: row;
    }
    .faq-block img {
        margin-top: 10.625rem;
    }
}
@media (min-width: 1280px) {
    .container {
        max-width: 80rem;
        padding: 0 3.125rem;
    }
    .hero-caption {
        padding: 0;
    }
    
}