:root {
    --primary-color: #FFFFFF;
    --secondary-color: #000000;
    --tertiary-color: #919396;
    --accent-color: #FF0000;
    --alert-success: #398E37;
    --font-primary: 'Gotham Rounded';
    --font-secondary: 'Roboto';
}

.mt-10 {
    margin-top: 0.625rem;
}

.mt-20 {
    margin-top: 1.25rem;
}

.mt-30 {
    margin-top: 1.875rem;
}

.mt-40 {
    margin-top: 2.5rem;
}

.mt-50 {
    margin-top: 3.125rem;
}

.mt-60 {
    margin-top: 3.75rem;
}

.mt-70 {
    margin-top: 4.375rem;
}

.mt-80 {
    margin-top: 80px;
}

.container {
    margin: 0 auto;
}

.header-block {
    padding: 1.25rem 1.25rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin: 0 2.5rem;
}

.logo img {
    max-width: 3.75rem;
}

.hero {
    position: relative;
    background: url('/img/hero.jpg') center left no-repeat;
    background-size: cover;
}

.header-icons {
    display: flex;
    gap: 1.25rem;
    align-items: center;
}

.header-icons a {
    line-height: 1.25rem;
}

.hero-caption {
    color: var(--primary-color);
    font-family: var(--font-primary);
    padding: 0 1.875rem;
}

.hero-caption h1,
.hero-caption h2,
.hero-caption h3 {
    font-size: 1.9375rem;
    margin: 0.525rem 0;
    position: relative;
}

.hero-caption h2 {
    line-height: 2.8125rem;
}

.hero-caption h3 {
    font-size: 1.9375rem;
    font-weight: 100;
}

.btn-primary {
    position: relative;
    color: var(--primary-color);
    border-radius: 6.25rem;
    text-decoration: none;
    padding: 0.3125rem 0.4375rem;
    font-weight: 700;
    display: inline-block;
    font-size: 1.125rem;
    font-family: var(--font-primary);
    background-color: var(--accent-color);
}

.hero-caption .btn-primary {
    margin-top: 1.25rem;
}

.hero-caption-block {
    z-index: 1;
    padding: 9.375rem 1.25rem 6.25rem;
    text-align: center;
}

.hero-caption-block::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url('/img/gradient.png') center no-repeat;
    background-size: 400%;
    transform: translate(0, 0);
}

.hero-img {
    position: absolute;
    z-index: 2;
}

/* -- begin steps -- */
.steps-block {
    display: flex;
    padding: 2.1875rem 1.25rem 1.25rem;
    background-color: var(--primary-color);
    max-width: 58.75rem;
    margin: 0 1.875rem;
    border-radius: 2.5rem;
    text-align: center;
    box-shadow: 0 1.0251rem 1.1182rem rgba(0, 0, 0, .3);
    justify-content: center;
    gap: 2.5rem;
    flex-direction: column;
    transform: translate(0, -3.625rem);
    z-index: 1;
    position: relative;
}

.steps-box h2 {
    font-size: 0.875rem;
    font-family: bold;
    color: var(--accent-color);
    font-family: var(--font-primary);
}

.steps-box p {
    font-weight: 500;
    font-size: 0.875rem;
    color: var(--secondary-color);
    font-family: var(--font-secondary);
}

.steps-icon {
    width: 7.5rem;
    height: 7.5rem;
    display: grid;
    align-items: center;
    border-radius: 100%;
    margin: 0 auto 1.875rem;
    justify-content: center;
    border: 0.0187rem solid rgb(159 161 164 / 25%);
}

/* -- begin  -- */
.bullets {
    /* max-width: 980px; */
    margin: 0 auto;
    padding: 0 1.875rem;
    background: url('/img/bg-bullets.jpg') right bottom no-repeat;
    background-size: cover;
}

.list {
    max-width: 61.25rem;
    margin: 0 auto;
    padding-bottom: 3.125rem;
}

.bullets p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4375rem;
    margin-bottom: 1.875rem;
    font-family: var(--font-secondary);
}

.bullets-list {
    padding: 0;
    margin-top: 1.25rem;
}

.bullets-list li {
    font-family: var(--font-primary);
    font-weight: 500;
    display: block;
    background: url('/img/icon-check.png') left top no-repeat;
    padding-left: 1.5625rem;
    margin: 1.875rem 0;
}

.section-title {
    margin: 3.125rem 0;
    margin-top: 3.125rem;
    text-align: center;
}

.section-title h2 {
    margin: 0.625rem 0 0;
    font-size: 1.75rem;
    color: var(--accent-color);
    font-family: var(--font-primary);
}

.section-title p {
    margin: 0.625rem 0 0;
    font-size: 1.25rem;
    font-weight: 500;
    font-family: var(--font-secondary);
}

.split {
    display: block;
    width: 100%;
}

.form {
    padding: 0 1.875rem;
}

.form-box p {
    color: var(--tertiary-color);
    font-family: var(--font-secondary);
    font-weight: 500;
    line-height: 1.25rem;
    margin: 1.875rem 0;
    font-size: 0.875rem;
}

.form br {
    display: none;
}

.form-block,
.form-msg {
    margin: 0 auto;
    max-width: 28.125rem;
}

.cupon {
    text-align: center;
    margin-bottom: 3.125rem;
}

.title-label {
    font-weight: 700;
    font-size: 1.5rem;
    font-family: var(--font-primary);
    color: var(--accent-color);
    display: block;
    margin-bottom: 1.25rem;
}

.input-control {
    width: 100%;
    margin-top: 0.3125rem;
    padding: 0.4375rem 0.625rem;
    border-radius: 0.25rem;
    border: 0.0625rem solid #9FA1A4;
    color: var(--secondary-color);
    font-family: var(--font-secondary);
    box-sizing: border-box;
    font-weight: 700;
}

.success {
    color: var(--alert-success);
}

.error {
    color: var(--accent-color);
}

.cupon input::placeholder {
    font-weight: 700;
    font-family: var(--font-secondary);
    color: var(--accent-color);
}

.form-block-title {
    font-size: 1rem;
    font-weight: 700;
    font-family: var(--font-secondary);
    color: var(--secondary-color);
    display: block;
    padding-bottom: 1.875rem;
}

.label-control {
    display: block;
    font-weight: 500;
    color: #919396;
    font-family: var(--font-secondary);
}

.form-box {
    margin-bottom: 0.9375rem;
}

.form-box-wrapper {
    display: flex;
    gap: 1.5625rem;
}

.form-box-input {
    display: flex;
    gap: 0.625rem;
    margin-top: 0.625rem;
    align-items: center;
}

.form-box-radio {
    margin-top: 1.25rem;
}

.form-box-radio input,
.form-box-checkbox input {
    display: none;
}

.form-box-radio i {
    width: 0.875rem;
    height: 0.875rem;
    border-radius: 100%;
    outline: 0.0625rem solid var(--tertiary-color);
}

.form-box-radio input:checked+i {
    width: 0.5625rem;
    height: 0.5625rem;
    border: 0.1875rem solid var(--primary-color);
    background-color: var(--secondary-color);
}

.form-box-checkbox label {
    display: flex;
    gap: 0.625rem;
    font-size: 0.875rem;
    color: var(--tertiary-color);
    font-weight: 500;
    font-family: var(--font-secondary);
    align-items: start;
}

.form-box-checkbox i {
    width: 0.875rem;
    height: 0.875rem;
    display: block;
    border: 0.0625rem solid var(--tertiary-color);
    border-radius: 0.25rem;
    min-width: 0.875rem;
}

.form-box-checkbox input:checked+i {
    border-color: var(--secondary-color);
    background: url('/img/checkmark.png') center no-repeat var(--secondary-color);
    background-size: 80%;
}

.form-msg {
    text-align: center;
    margin-top: 6.25rem;
}

.faq-block {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.faq-block img {
    padding: 1.875rem;
    display: block;
    max-width: 100%;
    margin: 3.125rem auto 0;
    box-sizing: border-box;
}

.faq-block>div {
    width: 100%;
}

.faq-container {
    padding: 0 1.875rem;
    font-weight: 700;
    font-family: var(--font-secondary);
}

.faq-item {
    width: 100%;
    margin-bottom: 1.5625rem;
    border-radius: 0.625rem;
}

.faq-question {
    padding: 0.9375rem;
    cursor: pointer;
    color: var(--accent-color);
    background: url('/img/icon-plus.png') 97% center no-repeat;
    background-size: 4%;
    border-radius: 0.625rem;
    border: 0.0625rem solid #DCDDDE;
}

.faq-answer {
    display: none;
    padding: 0.9375rem;
    font-size: 0.875rem;
}

.faq-question.active {
    color: var(--primary-color);
    background: var(--accent-color);
    border: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.faq-question.active+.faq-answer {
    border: none;
    box-shadow: 0 0.8125rem 0.75rem rgb(0 0 0 / 10%);
}

.faq-answer li {
    margin-bottom: 0.625rem;
}

.footer-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
    margin: 5rem 0 3.125rem;
}

.footer-block img {
    display: block;
    max-width: 15.625rem;
}

.footer-block>div {
    width: 100%;
}

.footer-copyright {
    font-family: var(--font-secondary);
    font-weight: 300;
    font-size: 0.75rem;
    text-align: center;
    display: flex;
    gap: 0.625rem;
    justify-content: center;
}

.footer-social {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    justify-content: center;
    margin: 2.5rem 0;
    font-weight: 500;
    font-family: var(--font-secondary);
}